
*{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

html{
    width: 100%;
    height: 100%;
    background-color: rgb(49, 43, 54);
    /* background:
    linear-gradient(to bottom, rgb(105, 105, 105), rgb(20, 20, 20) ); */
}

#calculatorObject{
    margin: 100px auto;
    display: grid;
    grid-template-columns: 360px;
    grid-template-rows: 30px 125px 275px;
    height: 430px;
    width: 360px;
    border: 5px solid  #105a6d;
    background-color:  #023047 ;
    border-radius: 20px;
}

#display{
    display: grid;
    grid-template-rows: 45px 55px;
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    height: 100px;
    width: 260px;
    text-align: right;
    padding: 0px 30px;
    margin: 0px 18px 20px 18px;
    border: 2px solid black;
}

#githublink, a, img{
    height: 20px;
}

a{
    display: block;
    margin: 5px auto;
    height: 20px;
    width: 20px;
    position: relative;
    transition: all 1s ease-in-out;
}

img:hover{
    animation: 2s github infinite;
}

@keyframes github{
    0%{position: relative;left: 0px;}
    30%{position: relative;
        transform: rotateZ(30deg);
        left: 3px;}
    66%{position: relative;
        transform: rotateZ(-30deg);
        left: -3px;}
    100%{position: relative;left: 0px;}
}

img:active{
    height: 23px;
    width: 23px;
    transition: all 0.25s ease-in-out;
}

#displayNumbers{
    color: white;
    font-size: 36px;
}

#displayCalculation{
    color: #fb8500;
    height: 25px;
}


#buttonSection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "acButton cancelButton negateButton divideButton"
    "b7 b8 b9 multiplyButton"
    "b4 b5 b6 minusButton"
    "b1 b2 b3 addButton"
    "zeroButton zeroButton dotButton equalButton";
    height: 275px;
    width: 320px;
    margin: auto;
}

#buttonSection>div{
    justify-self: center;
}

button{
    border: 2px solid black;
    border-radius: 15px;
    height: 40px;
    width: 75px;
    background-color: #FFB703;
    user-select: none;
}

.normalButtons:hover{
    background-color: #fb8500;
    transition: all 0.2s ease-in-out;
}

.normalButtons:active, .keypressed{
    background-color: #fbea00;
    box-shadow: 0 0 7px #fbea004d;
    transition: all 10ms ease-in-out;
}

.errorLight{
    background-color: #684a00;
    color: rgb(54, 54, 54);
    transition: all 0.15s ease-in-out;
}

.resetIndicator{
    animation: resetAC 1s infinite;
}

.resetIndicator:hover{
    background-color: red;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.644);
    transition: all 0.15s ease-in-out;
    animation-play-state: paused;
}

.resetIndicator:active{
    background-color: #fbea00;
    box-shadow: 0 0 7px #fbea004d;
    transition: all 10ms ease-in-out;
}

@keyframes resetAC{
    0%{background-color: #684a00;}
    50%{background-color: #e04212;
        box-shadow: 0 0 7px #e042128f;
        }
    100%{background-color: #684a00;}

}

#acDiv{
    grid-area: acButton;
}

#negateDiv{
    grid-area: negateButton;
} 

#divideDiv{
    grid-area: divideButton;
}

#multiplyDiv{
    grid-area: multiplyButton;
}

#minusDiv{
    grid-area: minusButton;
}

#addDiv{
    grid-area: addButton;
}

#equalDiv{
    grid-area: equalButton;
}

#b1{
    grid-area: b1;
}

#b2{
    grid-area: b2;
}

#b3{
    grid-area: b3;
}

#b4{
    grid-area: b4;
}

#b5{
    grid-area: b5;
}

#b6{
    grid-area: b6;
}

#b7{
    grid-area: b7;
}

#b8{
    grid-area: b8;
}

#b9{
    grid-area: b9;
}

#b0{
    grid-area: zeroButton;
}

#zeroB{
    width: 150px;
}

#bdot{
    grid-area: dotButton;
}

#equalDiv{
    grid-area: equalButton
}

#cancelButton{
    grid-area: cancelButton;
}